<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          
            <img src="https://res.cloudinary.com/dlxxe3zdi/image/upload/v1601480833/unfake_j1yjc7.png" style="border-bottom: 5px solid rgb(180, 54, 253); border-radius:8px" width="150"   class="d-inline-block align-top" alt="" loading="lazy">
      
        </a>
      </nav>


    <div class="container-fluid">
        <br>

        

 
            <div style=" margin: auto;
            width: 60%;
            border-radius: 8px;
            border: 3px solid black;
            padding: 15px; font-size:20px;" class="center-text">
                {{text_news}}

            </div>
            
            <br>

            <div class="container">

                            
                 <div style=" margin: auto;
                 width: 60%;" class="col">
                 <div class="col-sm-2">
                    <span style="color: {{color_gl}}; font-size:80px" class="glyphicon glyphicon-{{glyph_part}}"></span>
                 </div>

                 <div style="text-align:left" class="col-sm-3">
                    <h3>
                        {{pred}}
                    </h3>
                    
                </div>
                <br>
                <br>
                
    
                </div>

                <div style=" margin: auto;
                width: 60%; " class="center-text">
                <a type="button" class="btn btn-outline-secondary" style=" border:3px solid rgb(12, 124, 251) ; font-size:18px; text-deocration:none;" href="https://unfake-android.netlify.app/">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> Go Back
                </a>
                      
                </div>
              
            </div>
            <br>
            <br>

    
    </div>
  </body>
</html>
